.App {
  /* text-align: center; */
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #222;
  height: 20vh;
  padding: 3vw;
  color: pink;
  border: 3px solid pink;
}

.App-logo {
  /* animation: App-logo-spin infinite 10s linear; */
  height: 20vh;
  border: 1px solid white;
  margin-top: 0;
}

.App-title {
  font-size: 7vw;
  border: 1px solid white;
  height: 8vw;
  margin-left: 1.5vw;
}

.App-intro {
  font-size: 4vh;
  font-weight: 600;
}

.allSpots {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5vw;
}

.mainSpotsCard {
    background-color:rgb(232, 245, 252);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1vw;
    padding: .5vw .5vw;
    border-radius: .25vw;
    border: 1px solid black;
    box-shadow: .06vw .06vw .06vw 0vw rgba(0,0,0,0.75);
}

.mainSpotsCard > h2 {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  margin: 0;
  
}

.mainSpotsImage {
  width: 30vw;
  height: 35vw;
  padding: 0;
  margin: 0;
  margin-bottom: 2vw;
  border-radius: .25vw;
  border: .06vw solid black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.somedayDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.somedayDiv > h1 {
  font-size: 5vw;
}
.somedaySpotsList {
  list-style-type: none;
}

.spotCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  background-color:rgb(232, 245, 252);
  color: black;
  /* text-align: center; */
  text-decoration: none;
  font-size: 1vw;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .06vw .06vw .06vw 0vw rgba(0,0,0,0.75);
}

.cardImg {
  width: 25vw;
  height: 25vw;
  margin: 1.5vw;
  border-radius: .25vw;
  border: 1px solid black;

}

.spotDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0;
  border: 2px solid brown;
}

.spotDetails > h2 {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  padding-top: .25vw;
  border: 1px solid purple;
}

.spotDetails2 {
  border: 2px solid pink;
  margin: 0;
  padding: 0;
}

.individualDetail {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.individualDetail > p {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  margin: .5vw;
}

.label {
  font-size: 1.25vw;
  font-weight: 900;
}

.descriptionDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
}

.descriptionDetail > p {
  border: 1px solid black;
  margin-left: .5vw;
}

.descriptionLabel {
  margin-top: .5vw;
  margin-bottom: .5vw;
}
.description-p {
  margin-top: 0vw;
  line-height: 1.5;
}

.App-footer {
  display: flex;
  background-color: #222;
  height: 10vh;

}

.App-footer > p {
  color: white;
}

.license-p {
  margin-right: 3vw;
  margin-left: 3vw;
}
