.App {
  /* text-align: center; */
}

@keyframes headerColor {
  0%    { background-color: #FCED45; }
  33%   { background-color: #36F62D; }
  67%   { background-color: #FB1E7A; }
  100%  { background-color: #FB1E7A; }
}
@keyframes  textColor {
  0%    { color: #0f0; }
  25%   { color: #ff00ff; }
  75%   { color: #f00; }
  100%  { color: #0f0; }
}

/* Header Stylings ****************************************************************************/

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #222; */
  height: 20vh;
  padding: 3vw;
  color: white; 
  border: 3px solid pink;
  
  
  animation-name: headerColor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.App-logo {
  /* animation: App-logo-spin infinite 10s linear; */
  height: 20vh;
  border: 1px solid white;
  margin-top: 0;
}


.App-title {
  font-size: 7vw;
  border: 1px solid white;
  height: 8vw;
  margin-left: 1.5vw;


}
.App-title:hover {

  animation-name: textColor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.App-intro {
  font-size: 4vh;
  font-weight: 600;
}

/* Welcome Stylings ****************************************************************************/
.intro {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  border: 1px solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}

.login-form form {        
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /* border: 1px solid red; */
    border-radius: .125vw;
    padding: 1vw 0;
    width: 25vw;
}

.topStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 26vh;
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid black;
}

.topStuff > h2 {
  font-size: 2.25vw;
  border: 1px solid black;
  margin-top: 0;
  margin-bottom: 1.75vh;
}

.input {
  border: 1px solid black;
  border-radius: .25vw;
  font-size: 1vw;
  width: 20vw;
  height: 4vh;
  margin-bottom: 2vh;
  padding-left: .5vw;
}

.btnLink {
  border: 1px solid green;
}

.btn {
  border-radius: .25vw;
  width: 20.75vw;
  height: 4vh;
  font-size: 1.25vw;
  font-weight: 600;
  background-color: black;
  color: white;
}

.btn:hover {
  color: #ff00ff;
  cursor: pointer;
}

.rememberMe {
  border: 1px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0;
  margin-bottom: 1vh;

}

.checkboxLabel {
  font-size: 1.125vw;
}

.forgot {
  font-size: 1.125vw;
}

.noAccount {
  font-size: .8vw;
}

/* Home-page card stylings ***************************************************************************/
.allSpots {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5vw;
}

.mainSpotsCard {
    background-color:#fefce6;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1vw;
    padding: .5vw .5vw;
    border-radius: .25vw;
    border: 1px solid black;
    box-shadow: .06vw .06vw .06vw 0vw rgba(0,0,0,0.75);
}

.mainSpotsCard:hover {
  background-color:#fefacd;
}

.mainSpotsCard > h2 {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
  margin: 0;
  
}

.mainSpotsImage {
  width: 30vw;
  height: 35vw;
  padding: 0;
  margin: 0;
  margin-bottom: 2vw;
  border-radius: .25vw;
  border: .06vw solid black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Someday/Yesterday List-container stylings *************************************************************/
.somedayDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.somedayDiv > h1 {
  font-size: 5vw;
}

.addASpot {
  background-color: #ffff00;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  margin-left: 2.5vw;
  padding: .5vw .5vw;
  cursor: pointer;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .25vw .25vw .125vw 0vw rgba(0,0,0,0.75);
}

.addASpot:hover {
  background-color: #e6e600;
}

.somedaySpotsList {
  list-style-type: none;
  overflow: scroll;
  width: 90vw;
  height: 65vh;
}

/* Spot-card styling ***************************************************************************/
.spotCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  background-color:#fefce6;
  color: black;
  /* text-align: center; */
  text-decoration: none;
  font-size: 1vw;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1vw;
  padding: 0;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .06vw .06vw .06vw 0vw rgba(0,0,0,0.75);
}

.cardImg {
  width: 25vw;
  height: 25vw;
  margin: 1.5vw;
  border-radius: .25vw;
  border: 1px solid black;

}

.spotDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  margin-right: 1vw;
  margin-left: 1vw;
  padding: 0;
  border: 2px solid brown;
}

.spotDetails > h2 {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  padding-top: .25vw;
  border: 1px solid purple;
}

.spotDetails2 {
  border: 2px solid pink;
  margin: 0;
  padding: 0;
}

.individualDetail {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.individualDetail > p {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  margin: .5vw;
}

.label {
  font-size: 1.25vw;
  font-weight: 900;
}

.descriptionDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  border: 1px solid black;
}

.descriptionDetail > p {
  border: 1px solid black;
  margin-left: .5vw;
}

.descriptionLabel {
  margin-top: .5vw;
  margin-bottom: .5vw;
}
.description-p {
  margin-top: 0vw;
  line-height: 1.5;
}

.deleteBtn {
  background-color: #36F62D;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  margin-left: 2.5vw;
  padding: .5vw .5vw;
  cursor: pointer;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .25vw .25vw .125vw 0vw rgba(0,0,0,0.75);
}

.deleteBtn:hover {
  background-color: #14dc09
  ;
}

.editBtn {
  background-color: #FB1E7A;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  margin-left: 2.5vw;
  padding: .5vw .5vw;
  cursor: pointer;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .25vw .25vw .125vw 0vw rgba(0,0,0,0.75);
}

.editBtn:hover {
  background-color: #e20360;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  margin-left: 2.5vw;
  padding: .5vw .5vw;
  cursor: pointer;
  border-radius: .25vw;
  border: 1px solid black;
  box-shadow: .25vw .25vw .125vw 0vw rgba(0,0,0,0.75);
}
/* Form-stylings ******************************************************************************/
.outerFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formDiv {
  border: 1px solid black;
  margin-bottom: 10vw;
  padding: 1.5vw;
}

.formSubDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vh;
}

.form-div > label {
  margin-right: .5vw;
}

.inputBox {
  width: 25vw;
}

textarea {
  width: 25vw;
}

.submitBtnDiv {
  display: flex;
  justify-content: center;
}


/* Footer-stylings ******************************************************************************/
.App-footer {
  display: flex;
  background-color: #222;
  height: 10vh;

}

.App-footer > p {
  color: white;
}

.license-p {
  margin-right: 3vw;
  margin-left: 3vw;
}
